/** codeblock **/
.hextra-code-block pre:is(html[class~="dark"] *) {
  background-color: hsl(223deg 4% calc(35% + calc(calc(100% - 35%) / 50) * 27) / 0.1);
}
.hextra-code-block pre {
  background-color: hsl(223deg 4% calc(calc(35% / 50) * 39) / 0.05);
}

/* key shortcodes */
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a.badge:hover, a.badge:focus {
  text-decoration: none;
}

.badge:empty {
  display: none;
}

.badge-warning {
  text-transform: capitalize;
  color: #212529;
  background-color: #ffc107;
}

a.badge-warning:hover, a.badge-warning:focus {
  color: #212529;
  background-color: #d39e00;
}

a.badge-warning:focus, a.badge-warning.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}
