/* You can add custom styles here. */

// @import "plugins/numbered";

img {
    box-shadow: 1px 1px 2px 2px var(--gray-100);
    // border: 2px solid var(--gray-100);
    border-radius: 3px;
}

.book-icon {
    cursor: pointer;
}

.book-brand {
  margin-top: 0;
  margin-bottom: $padding-16;

  img {
    box-shadow: unset;
    border-radius: unset;
    height: 5em;
    width: 5em;
    margin-inline-end: $padding-8;
  }
}
  
.highlight > pre {
  background: var(--gray-100) !important;
}
